node_modules/

.env
dist/
build/
.expo/
.expo-shared/
.next/
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.production
.env.test
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
_test_/
.DS_Storetough-study-222620-firebase-adminsdk-3noq0-cbe79dd8a9.json


.env
.env.local
.env.*.local